html {
	overflow-y: auto;
}

body {
	padding-top: 50px;
}

canvas.stick {
	background: #EEEEEE;
	height: 36px;
	width: 36px;
}

canvas.forcediagram {
	background: #EEEEEE;
	height: 64px;
	width: 64px;
}

img.xbtn {
	vertical-align: top;
	height: 36px;
}

.title-area {
	-webkit-app-region: drag;
}

.title-area li a {
	-webkit-app-region: no-drag;
}
