<!DOCTYPE html>
<html ng-app="WaterBearApp">
	<head>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/font-awesome.min.css">
		<link rel="stylesheet" href="css/window.css">
		<script type="text/javascript" src="lib/angular.min.js"></script>
		<script type="text/javascript" src="lib/angular-route.min.js"></script>
		<script type="text/javascript" src="lib/moment.min.js"></script>
		<script type="text/javascript" src="lib/raf-shim.js"></script>
		<script type="text/javascript" src="lib/encoding-indexes.js"></script>
		<script type="text/javascript" src="lib/encoding.js"></script>
		<script type="text/javascript" src="js/window/keyboard_gamepad.js"></script>
		<script type="text/javascript" src="js/window/controllers.js"></script>
		<script type="text/javascript" src="js/window/directives.js"></script>
		<script type="text/javascript" src="js/window/services.js"></script>
		<script type="text/javascript" src="js/window/app.js"></script>
	</head>
	<body ng-controller="FramerateController">

		<nav class="navbar navbar-inverse navbar-fixed-top title-area" ng-controller="Nav">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand">WaterBear</a>
				</div>
				<ul class="nav navbar-nav">
					<li ng-repeat="p in pages" ng-class="{active:isActive(p)}">
						<a href="" ng-click="goTo(p)">{{p.text}}</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="" ng-click="exit()">
							<i class="fa fa-fw fa-close"></i>
							<span>Exit</span>
						</a>
					</li>
				</ul>
			</div>
		</nav>

		<div class="container">
			<div ng-view>
			</div>
		</div>

		<nav class="navbar navbar-fixed-bottom title-area" ng-controller="StatusBar">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand">Abort Panel</a>
				</div>
				<ul class="nav navbar-nav">
					<li><a ng-click="gamepad(null)">{{gamepad().id || 'No Gamepad'}}</a></li>
				</ul>
			</div>
			<iframe style="display:none;" src="sandbox.html" vectormath ></iframe>
		</nav>

	</body>
</html>